.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: var(--primary-button);
  font-size: 20px;
  color: var(--primary-color);
}
.container-footer p {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  margin-block-start: 0;
  margin-block-end: 0;
}

.social-icon {
  display: inline-block;
}

.social-icon a {
  width: 40px;
  height: 40px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}
.social-icon a::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: var(--text);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a:hover i {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.social-icon a i {
  transition: 0.3s ease-in-out;
  color: var(--primary-color);
  display: flex;
  font-size: 28px;
}
